<div class="footer-container">

  <div class="footer-logo">
    <img src="assets/img/logo.png">
    <a routerLink="/imprint">Impressum</a>
  </div>

  <div class="footer-copyright">
    © Hong Hanh Chu 2023
  </div>

  <div class="footer-logos">

    <a href="https://github.com/Hanmuni" target="_blank"> <img src="assets/img/github_button.png"> </a>
    <a href="#contact"> <img src="assets/img/email_button.png"> </a>
    <a href="https://www.linkedin.com/" target="_blank"> <img src="assets/img/linkedin_button.png"> </a>
  </div>

</div>
