<div class="contact-container" id="contact">


  <div class="headline">
    <div class="red-line-left"></div>
    <h1 translate=""> Contact </h1>
    <div class="red-line-right"></div>
  </div>

  <div class="contact-content">

    <div class="contact-text" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="500">
      <h2 translate=""> Got a problem to solve?</h2>

      <p translate="">With this form, you can leave a message for me. I am interested in hearing you, knowing your ideas
        and
        contributing to your projects with my work.
      </p>
      <p translate="">Need a Frontend developer?</p>

      <p><b translate="">Contact me!</b> </p>
    </div>
    <div class="contact-formular" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">

      <form (submit)="sendMail()" ngNativeValidate #form>

        <input required type="text" placeholder="{{ 'Your name' | translate }}" name="name" #name>
        <input required type="email" placeholder="{{ 'Your email' | translate }}" name="email" #email>

        <textarea required class="contact-input" type="text" placeholder="{{ 'Your message' | translate }}"
          name="message" #message></textarea>

        <div class="mail-sent" *ngIf="mailSent">
          <p translate="">Thank you for your message!</p>
          <p translate="">I will reply as soon as possible.</p>
        </div>

        <div class="send-btn">
          <button #button translate="">Send</button>
        </div>

      </form>

    </div>

  </div>

  <div class="orange-line"></div>

</div>
