.contact-container {
  background-color: #141D2F;
  padding-top: 20vh;
  color: white;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  h1 {
    font-size: calc(45px + 0.390625vw);
    text-shadow: 0px 0px 6px white;

    @media(max-width: 1000px) {
      font-size: 25px;
    }
  }
}

.red-line-left {
  border-bottom: 4px solid #FF4747;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-width: 30vh;
  margin: 32px;

  @media(max-width: 1000px) {
    min-width: 10vh;
  }
}

.red-line-right {
  border-bottom: 4px solid #FF4747;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 30vh;
  margin: 32px;

  @media(max-width: 1000px) {
    min-width: 10vh;
  }
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding-right: 15vh;
  padding-left: 15vh;

  @media(max-width: 1000px) {
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
  }

}

.contact-text {
  width: 50%;
  text-align: center;

  @media(max-width: 1000px) {
    width: 80%;
  }

  h2 {
    font-size: calc(23px + 0.390625vw);

    @media(max-width: 1000px) {
      font-size: 20px;
    }
  }

  p {
    font-size: calc(18px + 0.390625vw);

    @media(max-width: 1000px) {
      font-size: 16px;
    }
  }
}

.orange-line {
  border-bottom: 4px solid #FA7903;
  width: 100%;
}

.contact-formular {
  width: 50%;
  margin-left: 32px;

  @media(max-width: 1000px) {
    width: 80%;
    margin-left: 0;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      text-align: center;
      background-color: #141D2F;
      border: 1px solid #FF4747;
      box-shadow: 0 0 5px #FF4747;
      border-radius: 4px;
      margin-top: 16px;
      margin-bottom: 16px;
      color: white;
      height: 5vh;
      font-size: calc(16px + 0.390625vw);

      @media(max-width: 1000px) {
        font-size: 16px;
      }
    }

    textarea {
      text-align: center;
      background-color: #141D2F;
      border: 1px solid #FF4747;
      box-shadow: 0 0 5px #FF4747;
      border-radius: 4px;
      margin-top: 16px;
      margin-bottom: 16px;
      color: white;
      height: 20vh;
      resize: none;
      font-size: calc(16px + 0.390625vw);

      @media(max-width: 1000px) {
        font-size: 16px;
      }
    }

    button {
      text-align: center;
      background-color: #FA7903;
      box-shadow: 0 0 5px #FA7903;
      border: none;
      border-radius: 4px;
      margin: 16px;
      color: white;
      width: 30%;
      height: 5vh;
      font-size: calc(16px + 0.390625vw);
      transition: all 225ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #FF4747;
        transform: scale(1.1);
      }

      @media(max-width: 1000px) {
        font-size: 16px;
      }
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: white;
}


input:focus,
textarea:focus {
  outline-color: #FA7903;
  outline-style: ridge;
}


input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.send-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.mail-sent {
  text-align: center;
  font-size: calc(16px + 0.390625vw);
  background-color: #141D2F;
  box-shadow: 0 0 5px #FF4747;
  border: 1px solid #FF4747;
  border-radius: 4px;
  margin-bottom: 32px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
