<div class="skills-container" id="skills">

  <div class="skills-icons">

    <div class="skills-icons-row">

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/html.png">
        <span> HTML </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/css.png">
        <span> CSS </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/javascript.png">
        <span> JavaScript </span>
      </div>

    </div>

    <div class="skills-icons-row">

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/typescript.png">
        <span> TypeScript </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/angular.png">
        <span> Angular </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/git.png">
        <span> Git </span>
      </div>


    </div>

    <div class="skills-icons-row">

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/api.png">
        <span> REST-API </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/firebase.png">
        <span> Firebase </span>
      </div>

      <div class="skill-icon" data-aos="flip-up" data-aos-duration="1500">
        <img src="assets/img/scrum.png">
        <span> Scrum </span>
      </div>

    </div>

  </div>

  <div class="skills-text">

    <h1> My Skills</h1>

    <div class="skills-subheadline">

      I have grown my frontend developments skills that have allowed me to create different real projects.

    </div>

    <div class="contact-btn">

      <button> Get in touch </button>

    </div>

  </div>

  <div class="red-line" data-aos="fade-left" data-aos-duration="1500"></div>

  <div class="orange-shadow">

    <img src="assets/img/orange_shadow.png">

  </div>
</div>