<div class="portfolio-container" id="portfolio">

  <div class="headline">
    <div class="red-line-left"></div>
    <h1> Portfolio </h1>
    <div class="red-line-right"></div>
  </div>

  <div class="portfolio-welcome">
    This page is a sample of my work - please feel free to try them out.
  </div>

  <div class="portfolio-project">

    <div class="project-image aos-init" data-aos="zoom-in" data-aos-duration="1500">
      <img src="assets/img/join.png">
    </div>

    <div class="project-description">
      <h1> Join </h1>
      <h2> JavaScript | HTML | CSS </h2>

      <span>
        Task Manager inspired by the Kanban System. Login, create and organize tasks using drag 'n' drop, assign users
        and categories.
      </span>

      <div class="projects-buttons">

        <a class="live-test-btn" href="https://hong-hanh-chu.developerakademie.com/join/" target="_blank"> Live Test
        </a>
        <a class="github-btn" href="https://github.com/Hanmuni/join" target="_blank"> Github </a>

      </div>
    </div>

  </div>

  <div class="portfolio-project">

    <div class="project-description">
      <h1> Sharkie </h1>
      <h2> JavaScript | OOP | HTML | CSS </h2>

      <span>
        Object-oriented jump 'n' run game based on JavaScript. Sharkie is a friendly shark, but to survive he must evade
        his enemies and fight the endboss to win.
      </span>

      <div class="projects-buttons">

        <a class="live-test-btn" href="https://hong-hanh-chu.developerakademie.com/sharkie/" target="_blank"> Live Test
        </a>
        <a class="github-btn" href="https://github.com/Hanmuni/Sharkie" target="_blank"> Github </a>

      </div>
    </div>

    <div class="project-image" data-aos="zoom-in" data-aos-duration="1500">
      <img src="assets/img/sharkie.png">
    </div>

  </div>

  <div class="portfolio-project">
    <div class="project-image aos-init" data-aos="flip-up" data-aos-duration="1500">
      <img src="assets/img/ring-of-fire.png">
    </div>

    <div class="project-description">
      <h1> Ring Of Fire </h1>
      <h2> TypeScript | Angular | Firebase | Material Design | HTML | SCSS </h2>

      <span>
        Drinking card game based on Angular and Firebase. By drawing cards in turns, the players get
        instructions on who should have a drink. You can add players, delete them and change their icons.
      </span>

      <div class="projects-buttons">

        <a class="live-test-btn" href="https://ring-of-fire-52d85.web.app/" target="_blank"> Live Test
        </a>
        <a class="github-btn" href="https://github.com/Hanmuni/RingOfFire" target="_blank"> Github </a>

      </div>
    </div>

  </div>

  <div class="portfolio-project">

    <div class="project-description">
      <h1> Pokédex</h1>
      <h2> JavaScript | RestAPI | HTML | CSS </h2>

      <span>
        Based on the PokéAPI, my Pokédex is a simple library that provides and catalogs pokemon information.
        Includes a search bar and a slider for the pokecards.
      </span>

      <div class="projects-buttons">

        <a class="live-test-btn" href="https://hong-hanh-chu.developerakademie.com/pokedex/" target="_blank"> Live Test
        </a>
        <a class="github-btn" href="https://github.com/Hanmuni/Pokedex" target="_blank"> Github </a>

      </div>
    </div>

    <div class="project-image" data-aos="zoom-in" data-aos-duration="1500">
      <img src="assets/img/pokedex.png">
    </div>

  </div>




</div>
