<div class="frontpage">

  <div class="profile">

    <div class="profile-picture">

      <img class="shadow" src="assets/img/shadow_group 2.png">
      <img class="profile-img" src="assets/img/profile-picture.png">

    </div>

    <div class="introduction">

      
        <h1 class="vertical-text"> I am </h1>
      

      <div class="horizontal-text">

        <span class="name"> Hong-Hanh Chu </span>
        <br>
        <span class="job-title"> FRONTEND DEVELOPER </span>

      </div>
    </div>

  </div>

  <div class="vector">

    <img src="assets/img/vector.png">
  </div>
</div>
