<div class="frontpage">

  <div class="profile">

    <div class="profile-picture">

      <img class="shadow" src="assets/img/shadow_group 2.png">
      <img class="profile-img" src="assets/img/profile-picture.png">

    </div>

    <div class="introduction">

      <div class="introduction-text">

        <h1 class="vertical-text"> I am </h1>

        <div class="horizontal-text">

          <span class="name"> Hong-Hanh Chu </span>
          <br>
          <span class="job-title"> FRONTEND DEVELOPER </span>

        </div>

      </div>

      <div class="contact-btn">

        <button> Let's talk! </button>

      </div>


    </div>

  </div>


  <div class="vector">

    <img src="assets/img/vector.png">

    <div class="contact-links">

      <div class="red-line"></div>

      <div class="contact-links-btn">

        <a href="https://github.com/Hanmuni" target="_blank"> <img src="assets/img/github_button.png"> </a>
        <a href="#contact"> <img src="assets/img/email_button.png"> </a>
        <a href="https://www.linkedin.com/" target="_blank"> <img src="assets/img/linkedin_button.png"> </a>
        <a class="email" href="#contact"> HongHanh.Chu@email.com </a>

      </div>


      <div class="scroll-down-container">

        <span class="scroll-down">
          Scroll down

          <img src="assets/img/scroll_down_arrow.png">

        </span>

      </div>

    </div>

  </div>

  <div class="red-shadow">

    <img src="assets/img/shadow_red_1.png">

  </div>

</div>
