.frontpage {
  background-color: #141D2F;
}

.profile {
  display: flex;
  justify-content: space-between;
  height: 30vh;
}

.profile-picture {
  position: relative;
  width: 500px;
  height: 500px;
}

.profile-img {
  padding: 1vh 15vh 1vh 15vh;
  position: absolute;
  width: 35vw;
  height: 65vh;
  object-fit: contain;
}

.shadow {

  position: absolute;
  width: 45vw;
  right: 0;
  left: 0;
  height: 65vh;
  object-fit: cover;
}

.introduction {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: calc(45px + 0.390625vw);
  margin-block-end: 0;
  font-weight: normal;
}

.horizontal-text {
  padding-right: 15vh;
}

.name {
  font-size: calc(60px + 0.390625vw);
  font-weight: bold;
}

.job-title {
  color: #FF4747;
  font-size: calc(35px + 0.390625vw);
}

.vector {
  position: relative;

  img {
    width: 100%;
    height: 50vh;
    object-fit: fill;
    z-index: 1;
  }
}
