.imprint-container {
  padding: 2vh 15vh 2vh 15vh;
  background-color: #141D2F;
  color: white;
  font-size: calc(18px + 0.390625vw);
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  @media(max-width: 1000px) {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
