.navigation-bar {
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vh 0 15vh;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;

  @media(max-width: 1000px) {
    padding: 0 8vh 0 8vh;
  }

}

.logo-img {
  width: 128px;
  height: 128px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }

  @media(max-width: 1000px) {
    width: 72px;
    height: 72px;
  }
}

.navbar-btn-mobile {
  display: none;

  @media(max-width: 1000px) {
    display: flex;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

}

.navigation-menu {
  display: flex;
  justify-content: space-between;

  @media(max-width: 1000px) {
    display: none;
  }


  a {
    color: white;
    margin-left: 32px;
    font-size: calc(23px + 0.390625vw);
    transition: all 225ms ease-in-out;
    text-decoration: none;

    &:hover {
      color: rgb(250, 121, 3);
      cursor: pointer;
    }
  }
}

.navigation-menu-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #141D2F;
  width: 100%;
  opacity: 0.9;
  z-index: 5;
  animation: menu 225ms ease-in-out;
  animation-direction: normal;

  a {
    color: white;
    font-size: calc(25px + 0.390625vw);
    text-decoration: none;
    margin: 16px;
  }
}

.d-none {
  display: none;
}

@keyframes menu {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
