.navigation-bar {
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 15vh 1vh 15vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;


  img {
    width: 128px;
    height: 128px;
    object-fit: contain;

    &:hover {
      cursor: pointer;
    }
  }

}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  

  a {
    color: white;
    margin-left: 32px;
    
    &:hover {
      color: rgb(250, 121, 3);
      cursor: pointer;
    }
  }
}
