<div class="navigation-bar">
  <img routerLink="/" (click)="scrollToTop();" class="logo-img" src="assets/img/logo.png">

  <div class="navigation-menu">

    <a href="#aboutme" translate=""> About me</a>
    <a href="#skills" translate=""> Skills</a>
    <a href="#portfolio" translate=""> Portfolio</a>
    <a href="#contact" translate=""> Contact </a>
    <a (click)="translate.use('de');"> <img class="german-btn" src="assets/img/german.png"> </a>
    <a (click)="translate.use('en');"> <img class="english-btn" src="assets/img/english.png"></a>

  </div>
  <img id="open-icon" (click)="openMobileMenu()" class="navbar-btn-mobile" src="assets/img/navbar-btn-mobile.png">
  <img id="close-icon" (click)="closeMobileMenu()" class="navbar-btn-mobile d-none" src="assets/img/close-final.png">

</div>

<div id="mobile-menu" class="navigation-menu-mobile d-none">

  <a href="#aboutme" (click)="closeMobileMenu()" translate=""> About me</a>
  <a href="#skills" (click)="closeMobileMenu()" translate=""> Skills</a>
  <a href="#portfolio" (click)="closeMobileMenu()" translate=""> Portfolio</a>
  <a href="#contact" (click)="closeMobileMenu()" translate=""> Contact </a>
  <a (click)="translate.use('de'); closeMobileMenu()"> <img class="german-btn" src="assets/img/german.png"> </a>
  <a (click)="translate.use('en'); closeMobileMenu()"> <img class="english-btn" src="assets/img/english.png"></a>

</div>
