.navigation-bar {
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vh 0 15vh;
  position: sticky;
  top: 0;
  z-index: 100;

  @media(max-width: 1000px) {
    padding: 0 8vh 0 8vh;
  }

}

.logo-img {
  width: 128px;
  height: 128px;
  object-fit: contain;

  @media(max-width: 1000px) {
    width: 72px;
    height: 72px;
  }
}

.navbar-btn-mobile {
  display: none;

  @media(max-width: 1000px) {
    display: flex;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

}

.navigation-menu {
  display: flex;
  justify-content: space-between;

  @media(max-width: 1000px) {
    display: none;
  }


  a {
    color: white;
    margin-left: 32px;
    font-size: calc(23px + 0.390625vw);
    transition: all 225ms ease-in-out;
    text-decoration: none;

    &:hover {
      color: rgb(250, 121, 3);
      cursor: pointer;
    }
  }
}
