<div class="aboutme-container" id="aboutme">

  <div class="aboutme-headline" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-out">
    <h1 translate=""> About me </h1>

    <span translate="">
      I am a Front-end developer based in Eppelheim, Baden-Württemberg in Germany. To advance my skills in
      Web Development I have built several Web-Apps and attended an extensive Coding School, where I learned
      professional operating principles in programming. Feel welcome to visit my public portfolio, which includes games,
      responsive websites, and business apps.
    </span>

    <div class="aboutme-text">
      <img src="assets/img/lightbulb.png">
      <span translate="">
        I started my career in nursing. The intensive care unit was my first ward, where I gained a strong foundation of
        medical knowledge. Then I switched to a Stroke Unit because I wanted more direct contact with my patients.
        Working in healthcare has taught me patience, resilience, and adaptability to alleviate the most pressing needs
        of the people I work with and for.
      </span>
    </div>

    <div class="aboutme-text">
      <img src="assets/img/puzzle.png">
      <span translate="">
        I like to read fiction and have cookouts with my family and friends. I am open to new
        challenges and looking for a chance to apply my coding experience as a junior developer.
      </span>
    </div>

  </div>

  <div class="aboutme-headline-mobile" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-out">
    <h1 translate=""> About me </h1>

    <span translate="">
      I am a Front-end developer based in Eppelheim, Baden-Württemberg in Germany. To advance my skills in
      Web Development I have built several Web-Apps and attended an extensive Coding School, where I learned
      professional operating principles in programming. Feel welcome to visit my public portfolio, which includes games,
      responsive websites, and business apps.
    </span>

    <div class="aboutme-text">
      <img src="assets/img/lightbulb.png">
      <span translate="">
        I started my career in nursing. The intensive care unit was my first ward, where I gained a strong foundation of
        medical knowledge. Then I switched to a Stroke Unit because I wanted more direct contact with my patients.
        Working in healthcare has taught me patience, resilience, and adaptability to alleviate the most pressing needs
        of the people I work with and for.
      </span>
    </div>

    <div class="aboutme-text">
      <img src="assets/img/puzzle.png">
      <span translate="">
        I like to read fiction and have cookouts with my family and friends. I am open to new
        challenges and looking for a chance to apply my coding experience as a junior developer.
      </span>
    </div>

  </div>

  <div class="aboutme-image" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-out">

    <img src="assets/img/HongHanh2.png">

    <div class="orange-line"></div>

  </div>

</div>
